@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-colour: #2e8dba;
    --main-colour-light: #2e8dba60;
}

p, h1, h2, h3, li {
    font-family: "Inter", sans-serif;
    margin-bottom: 0.5em;
}

ul, ol {
    padding-left: 2em;
}

a {
    color: var(--main-colour);
    text-decoration: none;
}

.main-content-fullpage {
    margin: 1em;
    font-family: "Inter", sans-serif;
}

input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 12pt;
    background: #eee;
    font-family: "Inter", sans-serif;
}

button, input[type="submit"] {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 12pt;
    background: #ccc;
    font-family: "Inter", sans-serif;
}

.red-button {
    color: #fff;
    background: #f11;
}

.warning {
    background: #f114;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 12px;
}

.warning p {
    margin:0;
}

::selection {
    background: var(--main-colour-light);
}